*::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

.nav-div {
  width: 100%;
  height: 70px;
  background-color: #b8621b;
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.big-logo-div {
  align-items: center;
  justify-content: left;
  display: flex;
}

.logo-div img {
  height: 70px;
  width: 70px;
}

.logo-name-div p {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 20px;
}

.nav-links {
  align-items: center;
  float: right;
  margin-left: auto;
}

.nav-links ul {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-links ul li {
  padding-left: 10px;
}

.nav-links ul li button {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 20px;
  background-color: #e3ccae;
}

.nav-links ul li button:hover {
  background-color: #ffedd4;
  scale: 110%;
}

main {
  display: flex;
  flex-direction: column;
}

.main-banner {
  background-image: url(/images/Mouse-look-at-you-book-coffee_1920x1200.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0px;
  padding-bottom: 30%;
}

.main-banner h1 {
  font-size: 120px;
  color: white;
  margin: 10px;
  padding: 5px;
}

.main-banner h3 {
  font-size: 40px;
  color: white;
  margin: 10px;
  padding: 5px;
}

.products-div {
  background-color: #262a56;
  justify-content: center;
  align-items: center;
}

.products-heading {
  text-align: center;
  color: white;
}

.copyright-div {
  background-color: #2b2b2b;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.copyright-div p {
  text-align: center;
  margin: 0px;
  padding-top: 10px;
  color: white;
}

.bottom-banner {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
}

.contact-div,
.socials-div,
.admin-div {
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: center;
}

.socials-div {
  justify-content: center;
  align-items: center;
}

.socials-div img {
  padding: 10px;
  height: 50px;
  width: 50px;
}

.socials-div img:hover {
  scale: 110%;
}

.admin-div li {
  list-style: none;
}

.admin-div li button {
  outline: none;
  border-style: none;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  background-color: #e3ccae;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.admin-div li button:hover {
  scale: 110%;
  background-color: #ffedd4;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.form-container {
  background-color: #262a56;
  height: 90%;
}

.contact-title h1 {
  color: white;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 60px;
}

.form-div {
  padding: 20px;
  display: flex;
  background-color: #262a56;
  height: 80%;
}

.form-div label {
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.form-div input {
  margin-bottom: 5px;
  margin-top: 5px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #353966;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.form-div button {
  background-color: #e3ccae;
  outline: none;
  border: none;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.form-div button:hover {
  background-color: #ffedd4;
  scale: 110%;
}

.form-div .contact-image-div img {
  height: 400px;
  width: 400px;
}

.about-container {
  background-color: #262a56;
  color: white;
}

.about-container .about-title h1 {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 60px;
}

.about-container-inner-image img {
  margin: 10px;
  padding: 10px;
  height: 400px;
  width: 400px;
}

.about-container-inner {
  display: flex;
}

.about-text h4 {
  font-size: 30px;
  padding: 10px;
  margin: 10px;
}

.about-text p {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.products-container {
  background-color: #262a56;
  justify-content: center;
  align-items: center;
}

.products-title-div {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 60px;
}

.basket-sort-div ul {
  display: flex;
}

.basket-sort-div ul li {
  list-style: none;
}

.basket-sort-div ul li button {
  height: 40px;
  width: 40px;
}

.basket-sort-div ul li img {
  height: 40px;
  width: 40px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-body {
  background-color: rgb(227, 255, 246);
  width: 50%;
  height: max-content;
}

.modal-heading {
  padding: 5px;
  margin: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.products-display-div {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.book-block {
  background-color: #e6f0f0;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: 425px;
}

.book-image-div {
  justify-content: center;
  align-items: center;
}

.book-image-div img {
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 200px;
}

.book-title-div, .book-author-div, .book-genre-div, .book-price-div, .cart-button-div {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.book-title-div h4, .book-author-div h4, .book-genre-div h4, .book-price-div h4 {
  margin: 5px;
}

.price-cart-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button-div button {
  background-color: rgb(255, 255, 0);
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cart-button-div button:hover {
  background-color: rgb(255, 182, 55);
}

@media only screen and (max-width: 800px) {
  .form-div input {
    margin-bottom: 5px;
    margin-top: 5px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #353966;
    height: 20px;
    justify-content: center;
    align-items: center;
  }

  .form-div label {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  .contact-title h1 {
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 50px;
  }

  .form-div .contact-image-div img {
    height: 300px;
    width: 300px;
  }

  .about-container .about-title h1 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 50px;
  }

  .about-container-inner-image img {
    margin: 10px;
    padding: 10px;
    height: 300px;
    width: 300px;
  }

  .about-text h4 {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
  }

  .about-text p {
    font-size: 15px;
    padding: 5px;
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .logo-div img {
    height: 40px;
    width: 40px;
  }

  .logo-name-div p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 10px;
  }

  .nav-div {
    height: 50px;
  }

  .nav-links {
    justify-content: center;
    align-items: center;
    float: right;
    display: flex;
    flex-direction: row;
  }

  .nav-links ul {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .nav-links ul li button {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 20px;
    width: 40px;
    border: none;
    border-radius: 20px;
    background-color: #e3ccae;
    font-size: 8px;
  }

  .main-banner h1 {
    font-size: 50px;
    color: white;
    margin: 10px;
    padding: 5px;
  }

  .products-heading {
    text-align: center;
    color: white;
    font-size: 15px;
  }

  .bottom-banner {
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  .socials-div img {
    padding: 10px;
    height: 30px;
    width: 30px;
  }

  .contact-div,
  .socials-div,
  .admin-div {
    margin: 3px;
    padding: 2px;
    width: fit-content;
    text-align: center;
  }

  .admin-div li button {
    font-size: 8px;
    outline: none;
    border-style: none;
    height: 20px;
    width: 40px;
    border-radius: 15px;
    background-color: #e3ccae;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-div input {
    margin-bottom: 5px;
    margin-top: 5px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #353966;
    height: 15px;
    justify-content: center;
    align-items: center;
  }

  .form-div label {
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  .form-div button {
    font-size: 8px;
    background-color: #e3ccae;
    outline: none;
    border: none;
    height: 20px;
    width: 40px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .contact-title h1 {
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 30px;
  }

  .form-div .contact-image-div img {
    height: 150px;
    width: 150px;
  }

  .about-container .about-title h1 {
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 30px;
  }

  .about-container-inner {
    display: flex;
    flex-direction: column;
  }

  .about-container-inner {
    justify-content: center;
    align-items: center;
  }

  .about-container-inner-image img {
    margin: 5px;
    padding: 5px;
    height: 150px;
    width: 150px;
  }

  .about-text h4 {
    font-size: 15px;
    padding: 5px;
    margin: 5px;
  }

  .about-text p {
    font-size: 10px;
    padding: 5px;
    margin: 5px;
  }
}
